* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form {
    width: 450px;
    height: 450px;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 40px;
    padding-top: 80px;

}

.form_imput {
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;

}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

footer {
    background-color: #5a5a59;
    margin: 0;
    padding-bottom: 0;
    

}

h2 {
    color: rgb(224, 224, 226);
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}